@media (min-width: 768px) and (max-width: 1024px){
    .main7 {
        left: 49.7%;
    }
    .centerh {
        margin-top: 3px;
    }
    .grid2 {
        margin-top: 43px;
    }
    .text4 {padding-top: 48px;}
}
