//component1

$color1:black;
$color2:white;
$color3:#3AB6B2;

//component2 

$color4:white;
$color5:#3AB6B2;
$color6:#292929;

//component3

$color7:white;
$color8:#323232;
$color9:#D3D3D3;
$color10:#6A6A6A;
$color11:#3B3B3B;
$color12:#525252;

//component4

$color13:#1E1E1E;
$color14:white;
$color15:#D3D3D3;
$color16:#3AB6B2;
$color17:black;

//component5 

$color18:white;
$color19:#292929;
$color20:#3AB6B2;


